html * { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    vertical-align: baseline; 
}
html, 
body { 
    height: 100%; 
}
body { 
    line-height: 1; 
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 12px; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
}
article, 
aside, 
details, 
figcaption, 
figure, 
header, 
footer, 
main, 
nav, 
section { 
    display: block; 
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* { 
    outline: none; 
}

/* 
    show/hide elements 
    m: mobile
    t: tablet
    d: desktop
*/
.m-show,
.t-show,
.d-show { display: none; }
/* show elements */
@media (max-width: 767px) {
    .m-show {display: block !important;}
}
@media (max-width: 800px) and (max-width: 991px) {
    .t-show {display: block !important;}
    .d-show {display: block !important;}
}
@media (max-width: 980px) {
    .t-show { display: block; }
}
@media (max-width: 992px) and (max-width: 1199px) {
    .d-show {display: block !important;}
}
@media (min-width: 1200px) {
    .d-show {display: block !important;}
}
/* hide elements */
@media (max-width: 767px) {
    .m-hide {display: none !important;}
}
@media (min-width: 768px) and (max-width: 991px) {
    .t-hide {display: none !important;}
}
@media (min-width: 992px) and (max-width: 1199px) {
    .d-hide {display: none !important;}
}
@media (min-width: 1200px) {
    .d-hide {display: none !important;}
}

/* header */
#main-header { 
    position: fixed; 
    top: 0; 
    z-index: 1000; 
    width: 100%; 
    margin-bottom: 20px; 
}
#main-header .container { min-height: 90px; }
#main-header #navicon {
    position: absolute;
    bottom: 20%;
    width: 47px;
    height: 38px;
    display: block;
    background-image: url(/app/img/mobile/menu-icon.png);
    background-repeat: no-repeat;
}
#main-logo { 
    width: 208px;
    height: 90px;
 }
#main-logo a { 
    width: 208px; 
    height: 90px; 
    margin: 0 auto; 
    background: url(/app/img/mobile/logo.png) no-repeat left bottom; 
    display: inline-block; 
    text-indent: -9999px; 
}

@media screen and (min-width: 600px) {
    #main-header #navicon {
        width: 49px;
        height: 41px;
        background-image: url(/app/img/desktop/menu-icon.png);
    }
}
@media screen and (max-width:980px) {
    #main-logo { margin: 0 auto; }
    .txt-header { position: absolute; bottom: 0; font-size: 1.2em; font-weight: normal; color: #fff; }
    .btn-group-header { position: absolute; right: 20px; bottom: 20px; }
}
@media screen and (min-width: 1024px) {
    #main-header { position: relative; }
    #main-logo { margin-right: 0; margin-left: auto; }
    .txt-header { position: absolute; bottom: 0; font-size: 1.3em; font-weight: normal; color: #fff; }
    .btn-group-header { position: absolute; right: 20px; bottom: 20px; }
}

/* footer */
#main-footer:before, 
#main-footer:after { 
    content: ''; 
    margin: 0; 
}
#main-footer { 
    position: relative; 
    margin-top: -120px; 
    margin-bottom: 0; 
    clear: both; 
    font-size: 1.2em; 
    color: #fff; 
    line-height: 1.3em; 
}
#main-footer-top { 
    padding-top: 10px; 
    padding-bottom: 10px; 
    text-align: right; 
}
#main-footer-top a:after { 
    content: ''; 
    width: 17px; 
    height: 17px; 
    margin-left: 5px; 
    display: inline-block; 
    vertical-align: baseline; 
    background-image: url(/app/img/mobile/arrow_top-icon.png); 
    background-repeat: no-repeat; 
}
#main-footer-top a { 
    display: inline-block;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 25px;
}
#main-footer .logo-footer { 
    padding-top: 20px; 
    display: inline-block; 
}
@media screen and (max-width: 768px) {
    #main-footer .logo-footer { padding-top: 15px; }
}
#main-footer p { 
    padding-top: 20px; 
    padding-bottom: 20px;
}

/* main */
#main { 
    min-height: 100%; 
    padding-top: 130px; 
}
#main-container { 
    overflow: auto; 
    padding-bottom: 120px; 
}
@media screen and (min-width:1024px) {
    #main { 
        padding-top: 40px; 
    }
}

/* nav */
#nav-sidebar { 
    width: 50%; 
    height: 100vh;
}

/* banner */
#section-banner { 
    margin-bottom: 40px; 
    margin-left: auto; 
    margin-right: auto; 
}
#section-banner .banner-wrap { 
    position: relative; 
    margin-left: auto; 
    margin-right: auto; 
}
.banner-imgs, 
.banner-dots { 
    position: relative; 
    width: 100%;
}

/* image slider */
.slider { 
    position: relative; 
    overflow: hidden; 
}
.slider a { 
    width: 100%; 
    display: block;
}
.slider-text { 
    position: absolute; 
    bottom: 0;
}
.slider-text .slider-text-top { 
    margin-bottom: 20px; 
    border-left: 1px solid #000; 
    padding: 5px 25% 5px 25px; 
    color: #fff; 
    font-size: 1.2em; 
    text-transform: uppercase; 
    font-weight: bold; 
}
.slider-text-bottom { 
    margin-top: 10px; 
    font-size: 2em; 
    font-weight: bold; 
    color: #2c3e50; 
    line-height: 1.2em; 
}
/*@media screen and (min-width: 992px) {
    .slider-text {
        bottom: 20px;
        left: 20px;
    }
    .slider-text-bottom { 
        color: #fff;
    }
}
@media screen and (min-width: 768px)
and (max-width: 1024px) {
    .slider-text-inner { margin-left: 20px; margin-bottom: 20px; max-width: 50%; }
    .slider-text-inner .slider-text-bottom { color: #fff; }
}*/

/* dots */
.banner-dots { 
    width: 100%; 
    margin: 15px auto; 
    text-align: center; 
}
.banner-dots ol { 
    margin: 0 auto; 
    list-style: none; 
    text-align: center; 
    display: table; 
}
.banner-dots ol > li { 
    display: table-cell; 
}
.banner-dots ol > li a { 
    margin: 0 5px; 
    display: block; 
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
    background-color: #9A9A9A; 
}
.banner-dots ol > li.active a { 
    background-color: #1FA4E9; 
}

/* highlights */
.section-highlight { 
    width: 100%; 
    margin-bottom: 40px; 
}
.highlight { 
    position: relative; 
    margin-bottom: 20px; 
}
.highlight .highlight-text { 
    position: absolute; 
    bottom: 20px; 
    padding: 10px 15% 10px 15px; 
    color: #fff; 
    font-size: 1.3em; 
    text-transform: uppercase; 
    background-color: rgba(231,76,60, 0.9); 
}
@media screen and (min-width: 768px) {
    .list-highlights { 
        width: 100%;
        clear: both; 
        display: inline-flex; 
    }
    .highlight { 
        width: 33%; 
        display: inline-block; 
        margin-left: 1%; 
        margin-right: 1%; 
    }
    .highlight:first-child { 
        margin-left: 0; 
    }
    .highlight:last-child { 
        margin-right: 0; 
    }
}
@media screen and (min-width: 1024px) {
    .list-highlights { 
        clear: both; 
        display: inline-flex; 
    }
    .highlight { 
        width: 33%; 
        display: inline-block; 
        margin-left: 1%; 
        margin-right: 1%; 
    }
    .highlight:first-child { 
        margin-left: 0; 
    }
    .highlight:last-child { 
        margin-right: 0; 
    }
}

/* divoltis */
.section-divoltis { 
    margin-bottom: 20px; 
}
.section-divoltis h2 { 
    font-size: 1.8em; 
    margin-top: 15px; 
    margin-bottom: 20px; 
}
.divoltis { 
    width: auto;
    margin-bottom: 20px; 
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px; 
}
.divoltis-text .divoltis-title { 
    margin-top: 10px; 
    margin-bottom: 10px; 
}
.divoltis-text .divoltis-title a { 
    color: #2980b9; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-size: 1.2em; 
}
.divoltis-text p a { 
    font-size: 1.5em; 
    line-height: 1.1em; 
    text-decoration: none; 
    -ms-hyphens: auto; 
    -moz-hyphens: auto; 
    -webkit-hyphens: auto; 
    hyphens: auto; 
}

/* sections margin */
.section-pirulita, .section-suco, .section-list { margin-bottom: 20px; }

/* paisis */
.section-list h2 { color: #1FA4E9; }

/* ads */
.section-ads { margin: 60px auto; }
.ad-wrap { width: auto; max-width: 300px; margin: 0 auto; }
.ad-wrap small { float: right; margin-bottom: 5px; }

/* 
    Helpers 
*/
a { background-color: transparent; font-size: 1.4em; color: #2c3e50; line-height: 1.3em; }
a:active,
a:hover { outline: 0; }
h2 { margin: 40px 0 20px 0; font-size: 2em; }
/* backgrounds */
.bg-red { background-color: #e74c3c; }
.bg-lightgrey { background-color: #ecf0f1; }
.bg-darkblue { background-color: #2c3e50; }
.bg-lightblue { background-color: #3498db; }
.bg-blue { background-color: #2980b9; }
.title-info { margin: 40px 0 20px 0; font-size: 2em; color: #e74c3c; }
.text-grey { color: #A4A5A5; }
/* text-align */
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.hide { display: none; }
.mt-40 { margin-top: 40px; }
/* buttons social midia */
.radius-5 { border-radius: 5px; }
.btn-group > .btn { display: inline-block; margin-right: 20px; text-decoration: none; }
.btn-group > .btn:last-child { margin-right: 0; }
.btn-group > .btn .btn-txt { vertical-align: top; visibility: visible; }
.btn-square { min-width: 35px; height: 35px; line-height: 25px; text-align: center; background-color: #fff; -webkit-box-shadow: 1px 1px 5px 1px rgba(100,100,100,0.6); box-shadow: 1px 1px 5px 1px rgba(100,100,100,0.6); }
.btn-square > .fa { width: 15px; }
.btn-square .fa-facebook { color: #36528F; }
.btn-square .fa-twitter { color: #00ADF2; }
@media screen and (min-width:768px) {
    .btn-square { padding: 5px 15px; }
    .btn-group > .btn .btn-txt { display: inline-block; font-size: 0.8em; margin-left: 5px; }
}
@media screen and (max-width:768px) {
    .btn-group > .btn .btn-txt { visibility: hidden; display: none; }
}

.img { width: 100%; height: auto; }

.list-unstyled { list-style: none; }

.list { margin-bottom: 20px; }
.list > li { margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #ccc; }
.list > li:last-child { border-bottom: 0; }
.list > li a { text-decoration: none; }
.list > li a:hover { text-decoration: underline; }

/*
List infos
*/
.list-info .info { margin-bottom: 20px; display: flex; flex-wrap: wrap; }
.info .info-img, .info .info-text { display: inline-block; }
.info .info-img, .info .info-text { max-width: 50%; }
.info .info-text { padding: 0 0 0 5%; vertical-align: top; }
.info-text .info-title { margin: 5% 0; }
.info-text .info-title a { color: #e74c3c; font-size: 1.3em; text-transform: uppercase; text-decoration: none; }
.info-text p { font-size: 1.1em; }
.info-text p a { text-decoration: none; line-height: 1.1em; }

/* container */
.container { position: relative; left: 0; right: 0; max-width: 100%; margin: 0 auto; padding: 0 20px; }
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (max-width: 980px) {
  .container { width: 970px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}

/* flex content */
.flex { display: -webkit-flex; display: flex; flex-wrap: wrap; }
.flex-el { width: 100%; box-sizing: border-box; padding-left: 1em; padding-right: 1em; }
@media screen and (max-width: 640px) {
    .flex-el { padding-left: 0; padding-right: 0; }
}
@media screen and (min-width: 768px) {
    .flex-el { max-width: 50%; }
    .flex-el:first-child { padding-left: 0; }
    .flex-el:last-child { padding-right: 0; }
    .flex-el:nth-of-type(2n) { padding-right: 0; }
    .flex-el:nth-of-type(2n+1) { padding-left: 0; padding-right: 1em; }
}

/* grid */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.column {
    flex-basis: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* default, mobile first */
.m-1 { flex: 1; }
.m-2 { flex: 2; }
.m-3 { flex: 3; }
.m-4 { flex: 4; }
.m-5 { flex: 5; }
.m-6 { flex: 6; }
.m-7 { flex: 7; }
.m-8 { flex: 8; }
.m-9 { flex: 9; }
.m-10 { flex: 10; }
.m-11 { flex: 11; }
.m-12 { flex: 12; }

@media screen and (min-width: 768px) {
    .column { flex-basis: 50%; }
    .t-1 { flex: 1; }
    .t-2 { flex: 2; }
    .t-3 { flex: 3; }
    .t-4 { flex: 4; }
    .t-5 { flex: 5; }
    .t-6 { flex: 6; }
    .t-7 { flex: 7; }
    .t-8 { flex: 8; }
    .t-9 { flex: 8.5; }
    .t-10 { flex: 10; }
    .t-11 { flex: 10.5; }
    .t-12 { flex: 12; }
}
@media screen and (min-width: 992px) {
    .d-1 { flex: 1; }
    .d-2 { flex: 2; }
    .d-3 { flex: 3; }
    .d-4 { flex: 4; }
    .d-5 { flex: 5; }
    .d-6 { flex: 6; }
    .d-7 { flex: 7; }
    .d-8 { flex: 8; }
    .d-9 { flex: 8.5; }
    .d-10 { flex: 10; }
    .d-11 { flex: 10.5; }
    .d-12 { flex: 12; }
}